body {
  background-image: url("/static/images/cover_image.jpg");
  background-color: #212529;
  background-position: center top calc(100px + 2rem);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.navbar-brand {
  text-align: center;
}

h1 {
  font-size: 5rem;
  text-align: center;
}
  
.letter {
  transition: color 1000ms;
}

h1 h2 {
  font-family: serif;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}

#book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start; 
}

.card {
  margin: 10px;
  max-width: 20%; 
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.card img {
  padding-top: 6px;
  width: 100px;
  height: auto;
  flex-grow: 1; 
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-text, .author-text {
  font-size: 12px;
  margin: 0; 
  padding: 0; 
}


.card-body h5 {
  font-size: 16px; 
} 

.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-button i.fas.fa-star {
  visibility: visible;
}

.favorite-button[data-favorite="true"] i.fas.fa-star {
  visibility: hidden;
}

.genre-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.genre-tile {
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s; 
}

.genre-tile img {
  width: 175px;
  height: auto;
}

.genre-tile img.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  transform: translate(-50%, -50%);
}

.genre-tile p {
  position: absolute;
  bottom: 5px; 
  left: 0;
  right: 0;
  text-align: center;
} 

.genre-tile .genre-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.genre-tile:hover {
  transform: scale(1.1); 
}

.pagination {
  padding: 10px;
}