{% extends "base.html" %}

{% block title %} {{ genre }} {% endblock %}

{% block content %}
    <h1>Genre: {{ genre }}</h1>
    
    <div class="row">
        {% for book in books %}
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="card-img-top" alt="Book Image">
                <div class="card-body">
                    <h5 class="card-title">{{ book.volumeInfo.title }}</h5>
                    <p class="card-text">Author: {{ book.volumeInfo.authors[0] }}</p>
                    <p class="card-text">Publisher: {{ book.volumeInfo.publisher }}</p>
                    <a href="{{ book.volumeInfo.previewLink }}" class="btn btn-primary" target="_blank">Read Book</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    {% if books|length == 0 %}
        <p>No books found for this genre.</p>
    {% endif %}
    
{% endblock %}

