{% extends "base.html" %}

{% block title %} Login User {% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form.errors %}
    <div class="alert alert-danger">{{ field }}:
        <ul>
            {% for error in form.errors[field] %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group row">
        {{ field.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {% if field.name == "password" %}
                {{ field(class="form-control", autocomplete="current-password") }}
            {% else %}
                {{ field(class="form-control")}}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <button class="btn btn-info" type="submit">Login!</button>
</form>
{% endblock %}


