{% extends "base.html" %}

{% block title %}
Register User
{% endblock %}

{% block content %}
<div class="container">
  <h2>Register</h2>

  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
        {% if form.username.errors %}
            <ul class="errors">
                {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
            <ul class="errors">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Register</button>
  </form>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flash-messages">
    {% for message in messages %}
      {% if message[1] == 'success' %}
        <li class="alert alert-success">{{ message[0] }}</li>
      {% elif message[1] == 'danger' %}
        <li class="alert alert-danger">{{ message[0] }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

</div>
{% endblock %}



